DATABASE_URL="your postgreql URL"
REDIS_URL="your Redis URL"
TokenExpired="3600" #one hour
JWT_SECRET="super secret secret secret KEY"
KTP_SECRET_KEY=superlongrandom32byteskeyyyyy


#RETENTION history data
RETENTION_ENABLED=true

RETENTION_LOGS_DAYS=180
RETENTION_BORROW_DAYS=365
RETENTION_RENTAL_DAYS=365
RETENTION_MAINTENANCE_DAYS=365
# rate limit configuration...
# there's a LOT of them when using granular method in which...can be very difficult to maintain

#Login
# Time Pause RateLimit
login_windowsSec=20 
#max request per WindowsSec
login_max=10 
#its...prefix
login_keyPrefix="rl:login" 

#logout
logout_windowsSec=10
logout_max=10
logout_keyPrefix="rl:logout"

#READ
rl_read_windowsSecs=10
rl_read_max=100

# WRITE (POST/PUT)
rl_write_windowsSecs=10
rl_write_max=50

# DELETE 
rl_delete_windowsSecs=10
rl_delete_max=15

# Key Prefixes Below

#asset get (Get Data)
asset_get_keyPrefix="rl:assetGet"

#asset get by id (Get Data by ID)...is this even used?
asset_getById_keyPrefix="rl:assetGetById"

#Create Asset
asset_create_keyPrefix="rl:assetCreate"

#Update Asset
asset_update_keyPrefix="rl:assetUpdate"

#Delete Asset
asset_delete_keyPrefix="rl:assetDelete"

# Borrow Route
borrow_get_keyPrefix="rl:BorrowGet"
borrow_getById_keyPrefix="rl:BorrowGetById"
borrow_asset_keyPrefix="rl:BorrowAsset"
# Uses asset (still in borrow yes)
borrow_assetUse_keyPrefix="rl:UseAsset"
# return borrowed/used Asset
borrow_return_keyPrefix="rl:returnAsset"
borrow_delete_keyPrefix="rl:DeleteAsset"

#assetCategory
asset_category_prefix="rl:assetCategory"
asset_categoryById_prefix="rl:assetCategoryById"
asset_categoryCreate_prefix="rl:assetCategoryCreate"
asset_categoryUpdate_prefix="rl:assetCategoryUpdate"
asset_categoryDelete_prefix="rl:assetCategoryDelete"

#assetTypes
asset_types_prefix="rl:assetTypes"
asset_typesById_prefix="rl:assetTypesById"
asset_typesCreate_prefix="rl:assetTypesCreate"
asset_typesUpdate_prefix="rl:assetTypesUpdate"
asset_typesDelete_prefix="rl:assetTypesDelete"

#assetMaintenance
asset_maintenance_prefix="rl:assetMaintenance"
asset_maintenanceById_prefix="rl:assetMaintenanceById"
asset_maintenanceCreate_prefix="rl:assetMaintenanceCreate"
asset_maintenanceReturn_prefix="rl:assetMaintenanceReturn"
asset_maintenanceDelete_prefix="rl:assetMaintenanceDelete"

#assetRental
asset_rental_prefix="rl:assetRental"
asset_rentalById_prefix="rl:assetRentalById"
asset_rentalCreate_prefix="rl:assetRentalCreate"
asset_rentalFinish_prefix="rl:assetRentalFinish"
asset_rentalCancel_prefix="rl:assetRentalCancel"
asset_rentalDelete_prefix="rl:assetRentalDelete"

#assetStock
asset_stock_prefix="rl:assetStock"
asset_stockById_prefix="rl:assetStockById"
asset_stockCreate_prefix="rl:assetStockCreate"
asset_stockUpdate_prefix="rl:assetStockUpdate"
asset_stockDelete_prefix="rl:assetStockDelete"

#location
location_prefix="rl:location"
locationById_prefix="rl:locationById"
locationCreate_prefix="rl:locationCreate"
locationUpdate_prefix="rl:locationUpdate"
locationDelete_prefix="rl:locationDelete"

#Rental Customer
rentalCustomer_prefix="rl:rentalCustomer"
rentalCustomerById_prefix="rl:rentalCustomerById"
rentalCustomerCreate_prefix="rl:rentalCustomerCreate"
rentalCustomerUpdate_prefix="rl:rentalCustomerUpdate"
rentalCustomerDelete_prefix="rl:rentalCustomerDelete"

#user (karyawan)
user_prefix="rl:user"
userById_prefix="rl:userById"
userCreate_prefix="rl:userCreate"
userUpdate_prefix="rl:userUpdate"
userDelete_prefix="rl:userDelete"

#statistic
dashboardsummary_prefix="rl:dashboardSum"
rankByCtg_prefix="rl:rankByCtg"

# assetLogs all of this just read only
assetLogs_get_keyPrefix="assetLogs:getAll"
assetLogs_getById_keyPrefix="assetLogs:getById"

assetLogs_location_keyPrefix="assetLogs:getLocation"
assetLogs_rentalCustomer_keyPrefix="assetLogs:getRentalCustomer"
assetLogs_user_keyPrefix="assetLogs:getUser"
assetLogs_asset_keyPrefix="assetLogs:getAsset"
assetLogs_assetStock_keyPrefix="assetLogs:getAssetStock"
assetLogs_types_keyPrefix="assetLogs:getTypes"
assetLogs_categories_keyPrefix="assetLogs:getCategories"
assetLogs_rental_keyPrefix="assetLogs:getRental"
assetLogs_borrow_keyPrefix="assetLogs:getBorrow"
assetLogs_maintenance_keyPrefix="assetLogs:getMaintenance"